html {
    scroll-behavior: smooth;  
}

body{
    font-size: large;
    background-color: lavender;
    color: black;
}

.jumbotron{
    min-height: 600px;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size : 100%;
    color: white;
}

.jumbo-home{
    background-image: url(fourthwall.jpg)
}

.jumbo-photos {
    background-image: url(fourthwall.jpg);
}

.jumbo-events{
    background-image: url(fourthwall.jpg);
}

.jumbo-teams{
    background-image: url(fourthwall.jpg);
}

.jumbo-contact{
    background-image: url(fourthwall.jpg);
}